<aside class="main-navbar">
  <div class="main-navbar__brand">
    <a routerLink="/home">
      <img src="images/logo_text_jetkarir.png" alt="JetKarir" class="main-navbar__logo" />
    </a>
  </div>

  <nav class="main-navbar__nav">
    @for (item of navItems; track item.label) {
      <a
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="main-navbar__link"
      >
        <ng-icon [name]="item.icon" size="22px" />
        {{ item.label }}
      </a>
    }
  </nav>

  <div class="main-navbar__footer">
    <button class="main-navbar__post-btn">
      <ng-icon name="fluentAddCircle" size="20px" />
      Post a Job
    </button>

    @if (loadingUser()) {
      <div class="main-navbar__user">
        <p-skeleton shape="circle" size="36px" />
        <div class="main-navbar__user-info">
          <p-skeleton height="0.8rem" width="70%" />
          <p-skeleton height="0.7rem" width="50%" style="margin-top:0.25rem" />
        </div>
      </div>
    } @else if (user()) {
      <div class="main-navbar__user">
        <p-avatar [label]="userInitials()" shape="circle" class="main-navbar__avatar" />
        <div class="main-navbar__user-info">
          <span class="main-navbar__user-name">{{ user()?.fullName }}</span>
          <span class="main-navbar__user-handle">{{ userHandle() }}</span>
        </div>
        <button #moreBtn class="main-navbar__more-btn" (click)="op.toggle($event)" title="More options">
          <ng-icon name="fluentMoreCircle" size="24px" />
        </button>
      </div>

      <p-popover #op styleClass="navbar-popover" (onShow)="onPopoverShow()">
        <div class="navbar-menu">
          <button class="navbar-menu__item" (click)="op.hide()">
            <ng-icon name="fluentPersonSwap" size="18px" />
            <span>Switch Account</span>
          </button>
          <div class="navbar-menu__divider"></div>
          <button class="navbar-menu__item navbar-menu__item--danger" (click)="logout(); op.hide()">
            <ng-icon name="fluentArrowExit" size="18px" />
            <span>Logout from {{ userHandle() }}</span>
          </button>
        </div>
      </p-popover>
    }
  </div>
</aside>
