<header class="lp-nav">
  <div class="lp-container lp-nav__inner">
    <a routerLink="/" class="lp-nav__logo">
      <svg width="30" height="30" viewBox="0 0 64 64" fill="none" aria-hidden="true">
        <path d="M8 18C18 6 35 4 50 8C43 11 37 16 33 23C25 19 17 17 8 18Z" fill="#C41E1E" />
        <path
          d="M45 10C54 16 58 29 56 41C54 51 48 58 40 60C47 50 48 39 44 29C41 22 36 17 29 13C34 10 39 9 45 10Z"
          fill="#4E50E5"
        />
        <path
          d="M21 21C27 20 32 22 36 27C30 33 28 40 29 49C22 46 17 40 15 32C14 28 15 24 21 21Z"
          fill="#1E2A97"
          opacity="0.95"
        />
      </svg>
      <span>JetKarir</span>
    </a>
    <div class="lp-nav__actions">
      <a routerLink="/auth/login" class="lp-btn lp-btn--ghost">Sign In</a>
      <a routerLink="/auth/register" class="lp-btn lp-btn--primary">Sign Up Free</a>
    </div>
  </div>
</header>

<router-outlet />
