.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--jk-color-gray-light);

  @media (min-width: 900px) {
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__content {
    flex: 1;
    min-width: 0;
    padding-top: calc(var(--jk-nav-height) + 0.75rem);
    padding-bottom: 7rem;

    @media (min-width: 900px) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
